[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EstCRM"]
	path = EstCRM
	url = https://github.com/cran/EstCRM
[submodule "itemanalysis"]
	path = itemanalysis
	url = https://github.com/czopluoglu/itemanalysis
